@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-mukta: "Mukta", sans-serif;
  --font-poppins: "Poppins", sans-serif;
}

body {
  background-color: #1a0e05;
  color: #ffffff;
  font-family: "Mukta", sans-serif;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
